.search {
    background-color: #1e2b7577;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.search p {
    color: #ffffff;
}

.search_container {
    display: flex;
    gap: 0.5rem;
}

.search_container input {
    display: flex;
    gap: 0.5rem;
}

.search_container button {
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #ffffff;
}

.search_container button {
    background-color: #080b1b;
    cursor: pointer;
}