.user {
    background-color: #1e2b7577;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.user img {
    width: 140px;
    height: 140px;
    border: 5px solid #8b52f5;
    border-radius: 50%;
}

.location {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.location svg {
    fill: #ADDDD0;
    font-size: 1.5rem;
}

.location span {
    color: #ADDDD0;
    font-weight: bold;
}

.stats {
    display: flex;
}

.stats div {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.stats div:first-child {
    border-right: 2px solid #ADDDD0;
}

.stats .number {
    background-color: #ADDDD0;
    padding: .2rem .4rem;
    border-radius: 3px;
}

.user a {
    text-align: center;
    background-color: #8b52f5;
    padding: 1rem;
    border-radius: 5px;
    opacity: .8;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.user a:hover {
    opacity: 1;
}